.ResAppCont {
  background-color: white;
  min-height: 100vh;
  font-family: Roboto;
  margin: 0px;
}

/* Tabs */
.TabsContUl {
  list-style-type: none;
  padding-left: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  white-space: nowrap;
  overflow-x: scroll;
  border-bottom: 1px solid lightgrey;
  margin: 0px;
}
::-webkit-scrollbar {
  display: none;
}

/* Foods */
.FoodsContUl {
  background-color: transparent;
  list-style-type: none;
  padding-left: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin: 0px;
}
/* Tabs */
.TabsContUl {
  list-style-type: none;
  padding-left: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  white-space: nowrap;
  overflow-x: scroll;
  border-bottom: 1px solid lightgrey;
  margin: 0px;
}

::-webkit-scrollbar {
  display: none;
}
